header{
	background-color: rgb(167, 159, 48);
	height: 140px;
	width: 100%;

}

h1, h2, p, ul, li {
	margin: 0;
	padding: 0;
}

main{
	background-color: rgb(99, 206, 188);
}


.title{
	height: 80px;
	width: 100%;
	background-color: rgb(61, 61, 255);
	
}

main section ul{
	position:absolute;
	line-height: 50px;
	display: inline;
	float: initial;
}

main section ul li{
	display: inline;
	margin-right: 4vw;
}

main section ul li a{
	color: #ffffff;
	text-decoration: none;
}

main section ul li a:hover{
	text-decoration: underline;
}

footer{
	background-color: rgb(92, 69, 47);
}