header{
	background-color: rgb(167, 159, 48);
	height: 140px;
	width: 100%;

}

header h1{
	position: absolute;
	left: 120px;
	top: 0;
	line-height: 140px;
}

main{
	background-color: rgb(99, 206, 188);
}


.title{
	height: 80px;
	width: 100%;
	background-color: rgb(61, 61, 255);
	
}
#nav{
	display: flex;
	position:absolute;
	justify-content: center;
	width: 100%;
}
main section ul{
	position:absolute;
	line-height: 50px;
	display: inline;
	
}

main section ul li{
	display: inline;
	margin-right: 4vw;
}

main section ul li a{
	font-size: 28px;
	color: #ffffff;
	text-decoration: none;
}

main section ul li a:hover{
	text-decoration: underline;
}

footer h1 {
	background-color: rgb(92, 69, 47);
	color: #ffffff;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 19px;
	line-height: 0px;
	text-decoration: underline;
}
