header{
	background-color: rgb(167, 159, 48);
	height: 140px;
	width: 100%;

}

main{
	background-color: rgb(99, 206, 188);
}


.title{
	height: 80px;
	width: 100%;
	background-color: rgb(61, 61, 255);
	
}

#nav {
	float: right;
	margin: 50px 10px 0 0;
	font-size: 1.4em;
}

 
#nav li {
	display: inline;
	margin: 0 0 0 20px;
}

#nav li a {
	color: #fff;
	text-decoration: none;
	background: none;
}


footer{
	background-color: rgb(92, 69, 47);
}