
body {
	margin: 0 ;
	width: 1920px;
	padding: 0;
	background: #ffffff url('../images/body_bg.gif') repeat-x top;
	font-family: Helvetica, sans-serif;
	font-size: 62.5%;
	color: #333;
}

#masthead {
	margin: 0 auto ;
	margin-top: 20px;
	width: 800px;
	color: #fff;
}

#masthead h1 {
	float: left;
}


h1,li {
	margin: 0;
	padding: 0;
}

#nav {
	float: right;
	margin: 50px 10px 0 0;
	font-size: 1.4em;
}

 
#nav li {
	display: inline;
	margin: 0 0 0 20px;
}

#nav li a {
	color: #fff;
	text-decoration: none;
	background: none;
}


#header img {
	border: 10px solid #ccc;
}

#header h1 {
	font-size: 2em;
	margin: 10px 0 0 0;
	padding: 10px;
	text-align: center;
	background: url('../images/tagline_bg.gif') repeat-x;
}

